#cloud-config
manage_etc_hosts: true
runcmd:
 - en=$( lsdev -Cc if -S Available -F name |  head -1 ); lsattr -El $en -a netaddr -F value | xargs -I {} hostent -a {} -h $(hostname -s)
ssh_authorized_keys:
 - {{ rsa_key_public }}
final_message: "Deploiement is Done"
